.bar #adams{
	background-image: url(../img/adams.svg);
}
.bar #arthur{
	background-image: url(../img/arthur.svg);
}
.bar #bjohnson{
	background-image: url(../img/bjohnson.svg);
}
.bar #buchanan{
	background-image: url(../img/buchanan.svg);
}
.bar #carter{
	background-image: url(../img/carter.svg);
}
.bar #cleveland{
	background-image: url(../img/cleveland.svg);
}
.bar #clinton{
	background-image: url(../img/clinton.svg);
}
.bar #coolidge{
	background-image: url(../img/coolidge.svg);
}
.bar #droosevelt{
	background-image: url(../img/droosevelt.svg);
}
.bar #eisenhower{
	background-image: url(../img/eisenhower.svg);
}
.bar #fillmore{
	background-image: url(../img/fillmore.svg);
}
.bar #ford{
	background-image: url(../img/ford.svg);
}
.bar #garfield{
	background-image: url(../img/garfield.svg);
}
.bar #grant{
	background-image: url(../img/grant.svg);
}
.bar #gwbush{
	background-image: url(../img/gwbush.svg);
}
.bar #harding{
	background-image: url(../img/harding.svg);
}
.bar #harrison{
	background-image: url(../img/harrison.svg);
}
.bar #hayes{
	background-image: url(../img/hayes.svg);
}
.bar #hoover{
	background-image: url(../img/hoover.svg);
}
.bar #hwbush{
	background-image: url(../img/hwbush.svg);
}
.bar #jackson{
	background-image: url(../img/jackson.svg);
}
.bar #jadams{
	background-image: url(../img/jadams.svg);
}
.bar #jefferson{
	background-image: url(../img/jefferson.svg);
}
.bar #johnson{
	background-image: url(../img/johnson.svg);
}
.bar #kennedy{
	background-image: url(../img/kennedy.svg);
}
.bar #lincoln{
	background-image: url(../img/lincoln.svg);
}
.bar #madison{
	background-image: url(../img/madison.svg);
}
.bar #mckinley{
	background-image: url(../img/mckinley.svg);
}
.bar #monroe{
	background-image: url(../img/monroe.svg);
}
.bar #nixon{
	background-image: url(../img/nixon.svg);
}
.bar #obama{
	background-image: url(../img/obama.svg);
}
.bar #pierce{
	background-image: url(../img/pierce.svg);
}
.bar #polk{
	background-image: url(../img/polk.svg);
}
.bar #reagan{
	background-image: url(../img/reagan.svg);
}
.bar #taft{
	background-image: url(../img/taft.svg);
}
.bar #taylor{
	background-image: url(../img/taylor.svg);
}
.bar #troosevelt{
	background-image: url(../img/troosevelt.svg);
}
.bar #truman{
	background-image: url(../img/truman.svg);
}
.bar #trump{
	background-image: url(../img/trump.svg);
}
.bar #tyler{
	background-image: url(../img/tyler.svg);
}
.bar #vanburen{
	background-image: url(../img/vanburen.svg);
}
.bar #washington{
	background-image: url(../img/washington.svg);
}
.bar #wharrison{
	background-image: url(../img/wharrison.svg);
}
.bar #wilson{
	background-image: url(../img/wilson.svg);
}
